/* Walker theme for niri - Rose Pine inspired */
/* Color variables are injected by Nix */

@define-color bg_color @BG_PRIMARY@;
@define-color fg_color @FG_PRIMARY@;
@define-color accent_blue @ACCENT_BLUE@;
@define-color accent_pink @ACCENT_PINK@;
@define-color selection_bg @BG_SELECTION@;
@define-color muted @FG_MUTED@;
@define-color dim @BG_DIM@;

* {
  all: unset;
  font-family: "@FONT_MONO@";
  font-size: @FONT_SIZE@pt;
}

window {
  background: @dim;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: @bg_color;
  padding: 32px;
  border-radius: 0;
  border-image: linear-gradient(45deg, @accent_blue, @accent_pink) 1;
  border-width: @BORDER_WIDTH@px;
  border-style: solid;
}

.input {
  caret-color: @fg_color;
  background: @bg_color;
  padding: 10px;
  color: @fg_color;
}

.input placeholder {
  color: @muted;
  opacity: 0.7;
}

.input selection {
  background: @selection_bg;
}

.list {
  color: @fg_color;
}

.item-box {
  padding: 10px;
}

child:selected .item-box {
  background: @selection_bg;
}

.item-subtext {
  font-size: 10pt;
  color: @muted;
}

.placeholder {
  color: @muted;
}
